    <footer>
        <div class="footer-section-links">
            <h3>Enlaces útiles</h3>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <!-- <li><a href="combos.html">Combos</a></li> -->
              <li><a href="/velas">Productos</a></li>
              <!-- <li><a href="infoaromas.html">Aromas</a></li>
              <li><a href="about.html">Sobre Ambar</a></li> -->
            </ul>
        </div>
        <div class="footer-section-contact">
            <h3>Contáctanos</h3>
            <a href="https://www.instagram.com/ambar.tienda.dearomas/?hl=es" target="_blank"><p>Instagram</p></a>
            <p>Teléfono: +54 9 3407 44-5255</p>
        </div>
        <div class="footer-section-map">
            <h3>Ubicanos</h3>
            <img src="/images/Mapa.png" alt="Mapa">
        </div>
        <div class="footer-instagram">
            <h3>Sigamos conectados</h3>
            <a href="https://www.instagram.com/ambar.tienda.dearomas/?hl=es" target="_blank">
                <img src="/images/Instagram.png" alt="instagram">
            </a>
        </div>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>