<%- include('partials/header.ejs') %>
    <main>
        <div class="centermain">
        <section>
            <div class="sobrenosotros">
                <img class="logoa" src="images/3.png" alt="logo">
                    <p>En Ámbar, un emprendimiento artesanal ubicado en la ciudad de Rosario, nos dedicamos a descubrir velas, esencias, jabones aromáticos hechos a mano con pasión y cuidado. Creemos en el poder de los pequeños detalles para transformar espacios y momentos, y por eso, cada uno de nuestros productos está pensado para brindarte una experiencia única de bienestar y calidez.
                    Nuestra misión es llevar el arte y la esencia de lo hecho a mano a cada rincón. Fusionamos la creatividad, la naturaleza y la artesanía para ofrecer productos que encienden los sentidos y crean atmósferas especiales.
                    Nuestros productos son el detalle perfecto para sorprender a quienes más quieres, ofreciendo un regalo único y personalizado que transmite cuidado y calidez.
                    Te invitamos a descubrir la magia de lo artesanal y a hacer de Ámbar parte de tus momentos especiales.
                    Gracias por acompañarnos en este camino de aromas, luces y cuidado personal.</p>
            </div>
        </section>
        <section>
            <div class="phone">
                <a href="https://wa.me/+5493407445255?text=Hola" target="_blank">
                    <img src="images/whatsapp.png" alt="whatsapp">
                </a>
            </div>
        </section>
    </main>

<%- include('partials/footer.ejs') %>