<%- include('partials/header.ejs') %>
    <main>
        <section>
            <div class="infoaroma">
                    <p><strong><u>Vainilla y Coco:</u></strong> Aroma dulce e intenso con propiedades calmantes y relajantes, herramienta ideal para la meditación y la búsqueda de la paz interior.</p>
                    <p><strong><u>Magnolias y fresias:</u></strong> Aroma floral y dulce con notas cítricas, asociada con la pureza y la energía femenina.</p>
                    <p><strong><u>Naranja y pimienta:</u></strong> Una fragancia audaz y estimulante que combina la frescura cítrica de la naranja con el toque picante y especiado de la pimienta, brindando una sensación de frescura y vitalidad.</p>
                    <p><strong><u>Lavanda y tilo:</u></strong> Es una fragancia que combina la suavidad floral del tilo con la frescura aromática de la lavanda. Aliado para salir de estados de irritabilidad y estrés, además de ser purificador energético.</p>
                    <p><strong><u>Flores blancas:</u></strong> Las flores blancas representan la pureza, la elegancia y la tranquilidad. También, son símbolo de luz y los caminos que están por llegar, por lo que son ideales para ocasiones como aniversarios, o para dar un aire fresco, limpio y tranquilo al hogar.</p>
                    <p><strong><u>Frescura invernal:</u></strong> con aroma amaderado y especiado, los perfumes invernales, con notas más intensas y acogedoras.</p>
                    <p><strong><u>Wannam:</u></strong> inicia dulcemente con notas de melon y sandia, mientras se difunde, aparece la delicadeza del lirio y el encantador aroma a Jazmin.</p>
            </div>
        </section>
        <section>
            <div class="phone">
                <a href="https://wa.me/+5493407445255?text=Hola" target="_blank">
                    <img src="images/whatsapp.png" alt="whatsapp">
                </a>
            </div>
        </section>
    </main>

<%- include('partials/footer.ejs') %>