/* .sobrenosotros {
    display: flex;
} */

header {
    position: sticky;
    /* top: -112px; */
}

/* .sobrenosotros {
    width: 100%;
    height: 100%;
} */

.sobrenosotros p {
    color: #000000;
    font-size: large;
    margin: 10px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: bold;
    text-align: justify;
}

.sobrenosotros img{
    border-radius: 10px;
    width:100%;
    margin-left: 20px;
}

.contacto {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #000000;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin-bottom: 15px;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: start;
}

#contacto {
    display: flex;
    justify-content: center;
}

#contacto div {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

input, textarea {
    width: 288px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease;
    outline: 0px;
}

#contacto div form textarea{
    max-width: 288px;
    min-width: 288px;
    min-height: 90px;
    max-height: 100px;
}

input:focus, textarea:focus {
    border-color: #007bff;
}

button {
    width: 300px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Para que el cursor se vuelva una manito indicando accion */
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #68a5d6;
}

.sobrenosotros {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .logoa { grid-area: 1 / 1 / 13 / 3; }
        .sobrenosotros p { grid-area: 1 / 3 / 5 / 13; }
        .contacto { grid-area: 5 / 3 / 13 / 13; }

@media (max-width: 450px) {
    .sobrenosotros img {
        width: 50%;
        height: 50%;
        margin: 20px
    }

    .sobrenosotros {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
